{% block body %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">La liste des demandes en attentes</a>
                </li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Information
                    <a class="btn btn-sm btn-success" href="{% url 'liste_patients_avec_resultats' %}" style="padding: 8px; float: right; background-color: green; color: white;"><i class="fas fa-arrow-left"></i>Retour</a>
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Patient</th>
                                <th>Remplir le résultat</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% if patients_sans_resultat %}
                                    {% for patient in patients_sans_resultat %}
                                        <tr>
                                            <td>{{ patient.id }}</td>
                                            <td>{{ patient.nom }} {{ patient.prenom }}</td>
                                            <td>                                       
                                                <button type="button" class="update-book btn btn-sm btn-warning">
                                                    <a href="{% url 'saisie-resultats' patient.id %}"><i class="fa fa-pencil"></i> Remplir le résultat</a>
                                                </button>
                                            </td>                                        
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                    {% endif %}
            
                    </div>
                </div>
            </div>
        </div>
    </div>
  </tbody>
</table>
{% endblock %}