<!DOCTYPE html>
{% load leaflet_tags %}
<html>
    <h1>Localiser un signalement</h1>
    <div id="map" style="height: 400px;"></div>
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_map 'map' callback='map_init' %}
    <script>
      function map_init(map, options) {
        // Définir l'emplacement du marqueur
        var markerLocation = [{{ signalement.location.y }}, {{ signalement.location.x }}];
  
        // Créer le marqueur
        var marker = L.marker(markerLocation).addTo(map);
  
        // Centrer la carte sur le marqueur
        map.setView(markerLocation, 13);
      }
    </script>
</html>
